<aside class="aside">
  <div class="cart">
    <h3>cart works!</h3>
    <div  *ngFor = "let item of cartData.cartProducts;">
      <app-cart-item [item] = "item" (needUpdateData) = "updateCartData()"></app-cart-item>
      <button (click) = "increaseQuantity(item)">+</button>
      <button (click) = "decreaseQuantity(item)">-</button>
      <button (click) = "delete(item)">Delete</button>
    </div>
    <div> Quantity: {{cartData.totalQuantity}} Sum: {{cartData.totalSum}}</div>
  </div>
</aside>

